* {
  box-sizing: border-box;
}
body{
  border: 2px solid rgb(187, 126, 3);

}

.header{
  display: flex;
  justify-content: center;
}
.p{
  box-sizing: border-box;
  margin: 10%;
}

.footer{
  border: solid 2px salmon;
}