h1 {
  font-size: 14px;
  margin: 0;
  color: red;
}

li {
  list-style: none;
}

:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
}

body {
  margin: 0;
  background: gray;
}

.title {
  font-size: 32px;
  text-decoration: underline;
}

.link {
  color: red;
}

.link {
  color: blue;
}

.link_down {
  color: gold;
}

.link {
  border: solid 5px yellow;
}

.menu_footer .link {
  border-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: solid 1px black;
}
