* {
  padding: 0%;
}

.conteiner {
  display: flex;
  border: 2px solid blue;
  flex-wrap: wrap;
}

.imagenes {
  height: 100px;
  width: 200px;
  border: 1px solid green;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: palegreen;
}
