*{
    margin: 50px;
}
.main{
    display: flex;
    /* flex-direction: column; */
    border-radius: 20px;
    border: 2px solid salmon;
}

.div1 .div2 .div3{
    margin: 40px;
    padding: 30px;
}

.div1{
    background: green;
    position: relative;
    right: 100px; bottom: 50px;
}

.div2{
    position: relative;
    left: 150px; top: 320px;
    background: yellow;
}

.div3{
    background: salmon;
    position: relative;
    right: 180px; top: 240px;
}